body, html {
    margin: 0;
    padding: 0;
}
* {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}
    
  header {
    background: var(--color-body);
    box-shadow: 0px 2px 4px #888;
    width: 100%;
  }
  .inner {
    margin: 0px auto;
  }
  footer::before {
    content: ' ';
    height: 100px;
  }
  .inner .mid {
    flex: 1;
  }
  
  @media (min-width: 960px) {
    .inner {
      max-width: 1024px;
    }
    header .inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .content {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 20px;
  }
  
  footer {
    width: 100vw;
    background: var(--color-body);
    position: fixed;
    bottom: 0;
    color: var(--color-text);
  }
  footer .inner {
    max-width: 1024px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
  }
  
  footer .copyright {
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
  }
  
  .nav-brand {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
  .nav-brand__label {
    color: var(--color-text);
    font-size: 1em;
    font-weight: 900;
    text-align: center;
  }
  .nav-brand__slogan {
    display: none;
    color: var(--color-accent);
  }
  
  @media (min-width: 960px){
    .nav-brand__label {
      font-size: 2.5em;
      text-align: left;
    }
    .nav-brand__slogan {
      display: block;
      text-align: left;
    }
  }
  
  .desktop-menu {
    display: none;
  }
  @media (min-width: 960px){
    .desktop-menu {
      display: flex;
      align-items: flex-end;
    }
    .desktop-menu a {
      text-decoration: none;
      color: var(--color-text);
      background: var(--color-bk);
      padding: 0px 20px;
      margin-left: 5px;
      line-height: 50px;
      font-weight: bold;
    }
    .desktop-menu a:hover {
      background: var(--color-bk-highlight);
      color: var(--color-accent);
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
      color: #666;
  }
  
  h1 {
    font-size: 1.25em;
    text-align: center;
  }
  
  @media (min-width: 960px){
    h1 {
      font-size: 1.8em;
    }
  }
  
  .well {
    background: var(--color-well);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px #e4e4e9;
    border-radius: 5px;
  }
  .well h1, .well h2, .well h3, .well h4 {
    margin-top: 0px;
    color: #444;
  }
  
  .network__property {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .network__item {
    min-width: 290px;
  }
  
  @media (min-width: 640px) {
    .network__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }
    .network__item {
      width: auto;
    }
  }

  .screen-home .centered {
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
  }
  .screen-home h1 { 
    font-size: 3em;
    margin: 0px;
  }
  .screen-home h2 { 
    font-size: 1.5em;
    margin: 0px;
    margin-bottom: 40px;
  }
  .screen-home .stats-row {
    line-height: 1.5em;
  }
  .screen-home .pad50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }